*{
    margin: 0;
    padding: 0;
    
}

.add_new_btn_mobile{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px 10px;
    background-color: white;
    z-index: 3;
    width: 100%;
}

@media (min-width:768px){
    .add_new_btn_mobile{
        display: none;
    }
}